APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=production
APP_DEBUG=false

PAGE_LOAD_TIMEOUT=30
RETRY_ATTEMPTS=3
RETRY_DELAY=2
MAX_CONTENT_CHARS=12000
PROXY_FILE_PATH=proxies.txt

RATE_LIMIT_PER_MINUTE=30
MAX_CONCURRENT_TASKS=5
ADVANCED_STEALTH_MODE=true
